.grid-item {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 8px 8px 8px;
  }

  .grid-item:hover {
    border: 1px solid #41444b;
  }
  
  .grid-item-icon-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item-text {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    padding: 8px;
  }