.header {
  color: #C1C0BF;
}

.select-view-icon {
  margin: 4px;
}

.link {
  text-decoration: none;
  color: #41444b;
  background-color: transparent;
  border: none;
}

.link:hover {
  cursor: pointer;
}

.link:focus {
  outline: none;
}
